*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  @media (max-width: 575.98px) {
    font-size: 48%;
  }
}

body {
  box-sizing: border-box;
}
