// Brand Colors
$brand-blue:   rgba(12, 122, 192, 1);
$brand-red:    rgba(179, 32, 35, .5);
$brand-yellow: rgba(244, 167, 0, 1);
$brand-grey:   rgba(84, 106, 120, 1);


// COLORS
$primary: rgb(85, 198, 122);
$primary-light: rgb(126, 213, 111);
$primary-dark:  rgb(40, 180, 133);

$secondary-light: #ffb900;
$secondary-dark: #ff7730;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;

$gray-dark: #777;

$black: #000;
$white: #fff;


// Color Roles
$primary:   $brand-blue;
$secondary: $brand-grey;
$tertiary:  $brand-yellow;
$warning:   $brand-yellow;
$danger:    $brand-red;

// Typography
$font-mono:        'Courier', monospace;
$font-sans:        'Source Sans Pro', Arial, sans-serif;
$font-serif:       'Bree Serif', Times, serif;
$base-font-color:  $brand-grey;
$base-font-family: $font-sans;
$base-font-size:   16px;
$font-normal:      400;
$font-semibold:    600;
$font-bold:        700;
$base-line-height: 1.5;
$headings:         (6, 5, 4, 3, 2, 1);

// Borders
$base-border: 1px solid $brand-grey;
$base-radius: 0.25rem;

// Shadows
$base-box-shadow: rgba(darken($brand-grey, 20%), 0.2) 0 0 5px;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT SIZES
$default-font-size: 1.6rem;
